@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  font-family: "Muli", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 40px;
}

h1 {
  margin-top: 10px;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background-color: #fff;

  border: 2px solid #000;
  border-radius: 0 0 20px 20px;
  height: 350px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease-in;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  background-color: rgb(117, 211, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease-in;
}

.text {
  text-align: center;
  margin-bottom: 5px;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.cup.cup-small {
  height: 95px;
  width: 50px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease-in;
}

.cup.cup-small.full {
  background-color: rgb(152, 222, 255);
}
