@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  background-color: #74ebd5;
  /* background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%); */
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;

  background-color: #141e30;
  /* background-image: linear-gradient(to right, #243b55, #141e30); */
  color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* 
    Dark mode button
*/
.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

/* 
    Clock related
*/
.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

/* 
    Clock Needles
*/
/* General needle settings */
.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
}
/* Individual needle settings */
.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
  height: 100px;
  transform: translate(-50%, -100%) rotate(0deg);
}
.needle.second {
  height: 100px;
  background-color: #f53e29;
  transform: translate(-50%, -100%) rotate(0deg);
}

/* Dot in the middle of the clock */
.center-point {
  background-color: #f53e29;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* 
    Clock information hour/date
*/
.time {
  font-size: 60px;
}

.date {
  color: rgb(94, 94, 94);
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  transition: all 0.5s ease-in;
}
