:root {
  --line-border-fill: #f15a82;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("webb.png");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
  max-width: 100%;
  width: 30rem;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 0.3rem;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 0.3rem;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.square {
  background-color: #fff;
  color: #000;
  border-radius: 0.8rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid var(--line-border-empty);
  transition: 0.4s ease;
}

.square.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin: 0.4rem;
  font-size: 1rem;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
