@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;

  background-color: #7baac7;
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.note {
  background-color: #fff;
  box-shadow: 0 0 0.7rem 0.3rem rgba(0, 0, 0, 0.1);
  margin: 2rem 1.2rem;
  height: 22rem;
  width: 22rem;
}

.note .tools {
  background-color: #7baac7;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.6rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 22rem;
  width: 100%;
  padding: 1.2rem;
}

.main {
  padding: 1.2rem;
}

.hidden {
  display: none;
}
